html{ 
     scroll-behavior: smooth !important;
     overflow-x: hidden;
      
}


/* MAIN-HEADER SECTION */
.main-header{
    background: url(../img/showcase.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    position: relative;
}

.primary-overlay{
    background-image:linear-gradient(to right, rgba(231, 114, 114, 0.5), rgba(0, 0, 0, 0.5));  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

 



.nav-sec li{
    text-transform: uppercase;
    font-weight: 600;
    transition: all .2s;
    
}

.nav-sec li:hover:not(:last-child){
    background: white;
   
    
}

.nav-sec li a:hover{
    color: black;
   
   
}

.showcase{
    padding-top: 50px;
}

.scroll-icon{
    position: absolute;
    bottom: 5%;
    left: 47%;
    opacity: .5;;
}


/* BOXES SECTION */
 
.section-boxes .row{
   display: flex;
   margin-bottom: 0;
   justify-content: center;
   align-content: stretch;
   
   
   
         

}

.section-boxes .row .box{
    padding: 40px 10px;
    
    
    
}

.section-boxes .row .box h4{
    text-transform: capitalize;
    padding-bottom: 20px;
    
}

.about-section .row img{
    width: 80%;
    height: 80%; 
   
}

.about-section .row .collection-head{
    margin: 20px 0 0 20px;
}

.about-section .row .collection-head .material-icons{
    color: #607d8b;
}


.section-contact{
    position: relative;
}

.section-contact .card-panel{
    position: relative;
    z-index: 1;
}

#maps{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
 
.footer-copyright a{
    display: flex;
    align-items: center;
    
    
}

.footer-copyright i{
    padding: 0 10px;
}


 


@media only screen and (max-width: 960px){
    .section-boxes .row{
        display: inherit;
    }
} 

@media only screen and (max-width: 600px){
    .main-header{
        height: 50vh;
    }
}